.alert{
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}
.text{
    font-size: 25px;
}
.card-header{
    display: flex ;
    justify-content: space-between;
}
.search-date {
    text-align: center;
    margin: 5px 20px;
    padding: 0 10px;
}
.form-control:focus{
    box-shadow: none ;
}
